{% extends "BlogBundle::layout.html.twig" %}

{% block content %}
    {% for message in app.session.flashbag().get('status') %}
        {% if message %}
            <div class="alert alert-success">La etiqueta se ha creado correctamente</div>
        {% else %}
            <div class="alert alert-danger">La etiqueta no se ha creado, porque el formulario no es válido</div>
        {% endif %}
    {% endfor %}
{% endblock %}
