{% extends "BlogBundle::layout.html.twig" %}

{% block content %}
    <div class="col-lg-6">
        <h2>Todas las etiquetas</h2>
        <hr>
        <a href="{{ path("blog_add_tag") }} " class="btn btn-success">Anadir etiqueta</a>
        <hr>
        {% for message in app.session.flashbag().get('status') %}
            {% if message %}
                <div class="alert alert-success">La etiqueta se ha creado correctamente</div>
            {% else %}
                <div class="alert alert-danger">La etiqueta no se ha creado, porque el formulario no es válido</div>
            {% endif %}
        {% endfor %}
        <table class="table table-bordered">
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Eliminar</th>
            </tr>
            {% for tag in tags %}
                <tr>
                    <td>{{ tag.name }} </td>
                    <td>{{ tag.description }}</td>
                    <td>
                        {% if tag.entryTag|length == 0 %}
                            <a href="{{ path('blog_delete_tag', {"id":tag.id}) }}" class="btn btn-danger">Eliminar</a>
                        {% else %}
                            <div class="alert alert-warning">Etiqueta en uso</div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="clearfix"></div>
{% endblock %}